document,html,body {
	background-color:#fff;
	border:0;
	height:100%;
	margin:0;
	overflow:hidden;
	padding:0;
	width:100%;
}
#viewport {
	border:0;
	display:block;
	image-rendering:pixelated;
	margin:0;
	padding:0;
}
#sidebar {
	display:none;
	/* Temporary disable until I get around to cleaning up the UI */
}
